Chi-Square Test

In [4]:
import numpy as np
import pandas as pd
import seaborn as sns
import scipy.stats as stats

In [2]:
data = sns.load_dataset('tips')

In [3]:
data.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [5]:
data_table = pd.crosstab(data['sex'], data['smoker'])
print(data_table)

smoker  Yes  No
sex
Male     60  97
Female   33  54

In [8]:
observed = data_table.values
print(observed)

[[60 97]
 [33 54]]

In [10]:
val = stats.chi2_contingency(data_table)
print(val)

Chi2ContingencyResult(statistic=np.float64(0.0), pvalue=np.float64(1.0), dof=1, expected_freq=array([[59.84016393, 97.15983607],
       [33.15983607, 53.84016393]]))

In [11]:
expected = val[3]

In [16]:
row = len(data_table.iloc[0:2,0])
col = len(data.iloc[0,0:2])
dof = (row-1)*(col-1)
print(f"dof: {dof}")
alpha = 0.05
print(f"alpha: {alpha}")

dof: 1
alpha: 0.05

In [21]:
from scipy.stats import chi2
chi_square = sum([(o-e)**2./e for o,e in zip(observed, expected)])
chi_square_statistic = chi_square[0] + chi_square[1]
print(chi_square_statistic)

0.001934818536627623

Method 1

In [22]:
critical_value = chi2.ppf(q=1-alpha, df = dof)
print(critical_value)

3.841458820694124

In [23]:
if chi_square_statistic >= critical_value:
    print("Reject the null Hypothesis: The sample mean is significantly different from the population mean.")
else:
    print("Accept the null Hypothesis: The sample mean is not significantly different from the population mean.")

Accept the null Hypothesis: The sample mean is not significantly different from the population mean.

Method 2

In [25]:
p_value = 1-chi2.cdf(x=chi_square_statistic, df=dof)
print(p_value)

0.964915107315732

In [26]:
if p_value < 0.05:
    print("Reject the null Hypothesis: The sample mean is significantly different from the population mean.")
else:
    print("Accept the null Hypothesis: The sample mean is not significantly different from the population mean.")

Accept the null Hypothesis: The sample mean is not significantly different from the population mean.